// customizable variables
$hamburger-height: 22px;
$hamburger-width: 30px;
$hamburger-bar-height: 4px;
$hamburger-color: #222;
$hamburger-background: transparent;
$hamburger-margin: 5px;
$hamburger-padding: 20px;

// pseudo padding, uses absolute positioning to simulate padding
$hamburger-speed: 0.3s;
