// customizable variables
$hamburger-background: transparent !default;
$hamburger-bar-height: 4px !default;
$hamburger-border-radius: 0 !default;
$hamburger-color: #222 !default;
$hamburger-height: 22px !default;
$hamburger-margin: 5px !default;
$hamburger-padding: 5px !default; // pseudo padding, uses absolute positioning to simulate padding
$hamburger-speed: .3s !default;
$hamburger-width: 30px !default;
