---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<h1>Animated Hamburger Menu Button</h1>
<p>Here it is, in all it's lackluster glory</p>
<p>Animated left-arrow:</p>
<a href="javascript:void();" data-activates="slide-out" class="hamburger-button hamburger-animated-la"><span></span></a>
<p>Animated right-arrow:</p>
<a href="javascript:void();" data-activates="slide-out" class="hamburger-button hamburger-animated-ra"><span></span></a>
<p>Animated "X":</p>
<a href="javascript:void();" data-activates="slide-out" class="hamburger-button hamburger-animated-x"><span></span></a>
<p>Not Animated, just a hamburger:</p>
<a href="javascript:void();" data-activates="slide-out" class="hamburger-button"><span></span></a>
